@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Lato" sans-serif;
}

@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

:root {
  --primary-orange: orange;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-white: #fff;
  --primary-lightDark: rgba(255, 255, 255, 5);
  --primary-green: #14a44d;
}

hr {
  color: white;
}

/* navbar menu */

.navbar {
  animation: 1s ease-out 0s 1 slideInTop;
}

.nav-item {
  text-align: center;
}

.nav-link {
  cursor: pointer;
}

.navbar-nav li a {
  border-bottom: 0.1875rem solid var(--primary-dark);
}

.navbar-nav li a.active:focus,
.navbar-nav li a.active {
  border-bottom: 0.1875rem solid var(--primary-green);
}

.navbar-nav li a:hover {
  border-bottom: 0.1875rem solid var(--primary-green);
}

.navbar-toggler-icon {
  color: black;
}

/* Hero */

/* About */

/* Projects */

.card:hover {
  filter: drop-shadow(8px 8px 10px gray);
}
